* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Add box-sizing to include padding and border in element's total width and height */
}

body {
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    padding: 0;
}

.contendor {
    background-image: url(/img/seccio1.jpg);
    background-size: contain;
    background-position: center;
    height: 100vh;
}

.product-comp {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Adjust grid for responsiveness */
    gap: 20px;
}

.seccion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.5);
    position: relative;
    top: 10rem;
    left: 20rem;
    width: 40rem;
    padding: 5rem;
    border-radius: 3px;
    margin: 0 auto; 
}

input {
    width: 100%; 
    max-width: 25rem; 
    height: 1.8rem;
    border-radius: 10px;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 10px;
}

h2 {
    margin-bottom: 20px;
    text-transform: uppercase;
}

.seccion__btn {
    background-color: #a70606;
    padding: 5px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    text-transform: capitalize;
    border: navajowhite;
    margin-top: 10px;
}

.seccion__btn:hover {
    cursor: pointer;
    background-color: white;
    color: #a70606;
    font-weight: bold;
    transition: all 2s;
}

.header {
    background-color: #330001;
}

.header__compa {
    text-align: center;
    padding-top: 8rem;
}

h1 {
    margin: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
   
    color: white;
    width: 100%;
    padding: 2rem;
    text-align: center;
    margin: 0 auto; 
    border-radius: 4rem;
    margin-bottom: 20px;
}

.objeto {
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    width: 100%; 

.objeto img {
    width: 100%;
    margin-bottom: 10px;
}

.objeto h2 {
    margin-bottom: 10px;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.objeto p {
    margin-bottom: 5px;
}

#lista-objetos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Adjust grid for responsiveness */
    gap: 20px;
}

.container {
    width: 100%;
    max-width: 1200px; 
    margin: 0 auto;
    box-sizing: border-box;
    padding: 2px;
}

.pruduct {
    text-align: center;
    padding: 30px;
    box-shadow: 0 0 20px rgb(0, 0, 0.1);
    margin-bottom: 20px;
}
.btn{
    background-color: black;
    color: wheat;
    border-radius: 5px;
}
.btn:hover{
    background-color: #949494;
}
.celular-txt h2{
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.celular-txt img{
    flex-basis: 50%;
    width: 200px;
}

.celular-txt p {
    font-weight: bold;

}
}

.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.header__bienvenido {
    background-image: url(/img/f4.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin-bottom: 20px;
    border-bottom: 10px solid black;
}

.header--redes {
    background-color: white;
    
}

.header--redes {
   display: flex;
   justify-content: right;
   padding: 5px;
   
}
.header--redes:hover {
    cursor: pointer;
}

.header--redes img {
    margin-left: 10px;
}

.header--razoS {
    background-color: rgba(0, 0, 0, 0.5);
    width: 700px;
    height: 300px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding: 15px;
    position: relative;
    left: 300px;
    top: 100px;
    border-radius: 8px;
    text-align: justify;
    
}

.footer {
    display: flex;
    justify-content: space-around;
    background-color: black;
    padding: 10px;
}

.footer__politicas {
    display: flex;
    flex-direction: column;
}
.footer__politicas a {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 25px;
    text-transform: capitalize;
}

.footer__politicas a:hover {
    color: #949494;
}


.filtros h3 {
    text-align: center;
    margin: 30px;
    text-transform: capitalize;
}

.filtros__conten {
    position: relative;
    left: 150px;
    margin: 20px;
}

.filtros__conten label {
    text-transform: capitalize;
    font-weight: bold;
}
.filtros__conten button {
   padding: 4px;
   text-transform: capitalize;
   font-weight: bold;
}